@import "tailwindcss";

:root {
  --background: #f9fcfd;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* primary */
  --color-primaryAccent: #e6f4f7;
  --color-primaryBorder: #d8e3e7;
  --color-primaryDisabled: #a6c5cf;
  --color-primary: #1a6f8e;
  --color-primaryHover: #155d74;
  --color-primaryActive: #14596f;
  --color-primaryBG: #f9fcfd;
  --color-primaryThead: #a6c5cf66;

  /* secondary */
  --color-secondary: #e9b872;
  --color-secondaryHover: #dda75c;
  --color-secondaryActive: #d6a25f;

  /*others*/
  --color-success: #157a6e;
  --color-error: #e74c3c;
  --color-info: #3a8dad;
  --color-warning: #efb93e;

  /*zebra*/
  --color-zebra1: #fafdfd;
  --color-zebra2: #f5fbfc;

  /*neutral*/
  --color-textPrimary: #1e1e1e;
  --color-textOnText: #ffffff;
  --color-textSecondary: #6c757d;
  --color-textOnTextSecondary: #2c2c2c;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.35s ease-out forwards;
}
.allBorder {
  border-color: #eaeaeb;
}
body {
  background: #f9fcfd;
  color: var(--foreground);
  font-family: "Vazirmatn", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.leaflet-control-attribution {
  display: none;
}
.leaflet-container {
  filter: grayscale(100%);
}
.leaflet-control-zoom {
  display: none;
}
.font-vazirmatn {
  font-family: var(--font-vazirmatn), sans-serif;
}
